<h3>Todo #<%= params[:id] %></h3>

<h1>
  <img class="company-logo" 
  src="http://ww1.prweb.com/prfiles/2015/08/24/13706165/gI_60914_codenow%20logo%20large.png">
  </img> <br> </br>
  Workshop Todo List
</h1>

<div class="card">
  <input type="checkbox">
  <h2><%= @todo_description %></h2>
  <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
  <a href="#" id="edit-todo-button">Edit</a>
  <a href="#" id="delete-todo-button">Delete</a>
  <a href="index" class="simple-link">Go back...</a>
</div>